[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authlib = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-money = "*"
django = "==3.2.12"
django-environ = "*"
gunicorn = "*"
dj-database-url = "*"
psycopg2 = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.9"
